{% extends 'base/base.html' %}
{% load material_form %}
{% block pagetitle %} UCP | Reset Password{% endblock %}
{% block content %}
{% if not validlink %}
<p> The reset password link is either used or invalid. Please try resetting again by clicking <a href="{% url 'forgot_password' %}">here</a></p>
{% else %}
<div class="row">
    <div class="col s10 m8 l4 offset-s1 offset-m2 offset-l4">
        <div class="card-panel">
            <h4 class="center-heading">Reset Password</h4>
            <form method = 'post'>
                {% csrf_token %}
                {% form form=form %}{% endform %}
                <div class="row">
                    <div class="col s12">
                        <button type="submit" name="resetpassword" class="btn waves-effect waves-light left blue darken-1">Reset Password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
